# Homicide Reports USA

#### Imports

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

pd.__version__

'0.24.2'

In [ ]:
database = pd.read_csv('database.csv')

In [3]:
database.columns

Index(['Record ID', 'Agency Code', 'Agency Name', 'Agency Type', 'City',
       'State', 'Year', 'Month', 'Incident', 'Crime Type', 'Crime Solved',
       'Victim Sex', 'Victim Age', 'Victim Race', 'Victim Ethnicity',
       'Perpetrator Sex', 'Perpetrator Age', 'Perpetrator Race',
       'Perpetrator Ethnicity', 'Relationship', 'Weapon', 'Victim Count',
       'Perpetrator Count', 'Record Source'],
      dtype='object')

In [4]:
database.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI

In [5]:
relationship = database['Relationship'].value_counts()

In [6]:
relationship

Unknown                 273013
Acquaintance            126018
Stranger                 96593
Wife                     23187
Friend                   21945
Girlfriend               16465
Son                       9904
Family                    9535
Husband                   8803
Daughter                  7539
Boyfriend                 7302
Neighbor                  6294
Brother                   5514
Father                    4361
Mother                    4248
In-Law                    3637
Common-Law Wife           2477
Ex-Wife                   1973
Common-Law Husband        1954
Boyfriend/Girlfriend      1383
Stepfather                1360
Sister                    1292
Stepson                   1170
Stepdaughter               754
Ex-Husband                 629
Employer                   509
Employee                   384
Stepmother                 211
Name: Relationship, dtype: int64

In [7]:
sex = database['Victim Sex'].value_counts()

In [8]:
sex

Male       494125
Female     143345
Unknown       984
Name: Victim Sex, dtype: int64

In [9]:
#drop unknown

## Women

In [10]:
women = []

for row in database.index:
    if database['Victim Sex'][row] == 'Female':
        women.append(row)
    
dataframe_women = database.loc[women, :]

In [11]:
dataframe_women['Relationship'].value_counts()

Unknown                 45935
Wife                    22567
Acquaintance            18894
Girlfriend              16128
Stranger                11897
Daughter                 7139
Mother                   3912
Friend                   3253
Family                   2994
Common-Law Wife          2428
Ex-Wife                  1852
Neighbor                 1632
Sister                   1207
In-Law                    857
Stepdaughter              720
Son                       657
Father                    256
Boyfriend/Girlfriend      197
Stepmother                180
Brother                   131
Employer                  115
Husband                    97
Employee                   80
Boyfriend                  71
Stepson                    68
Stepfather                 43
Ex-Husband                 22
Common-Law Husband         13
Name: Relationship, dtype: int64

In [12]:
#drop father, brother, boyfriend, ...

In [ ]:
#graphs

## Men